<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete <th:block th:text="${tasklist.title}"></th:block>?</title>
</head>
<body>
    <main layout:fragment="content" class="mainpanel pb-8 dark:bg-element-dark">
        <form th:action="@{/lists/delete/{id}(id=${tasklist.id})}" method="post">
            <span class="text-xl">
                Delete the list "<span th:text="${tasklist.title}"></span>"?
            </span>
            <input type="submit" value="Yes" class="button mx-auto">
        </form>
    </main>
</body>
</html>