<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - todo++</title>
</head>
<body>
    <main layout:fragment="content">
        <div th:replace="mainheader :: mainheader"></div>
        <div class="element-panel">
            active lists: <span th:text="${#lists.size(account.activeListsQtt)}"></span>
            expired lists: <span th:text="${#lists.size(account.inactiveListsQtt)}"></span>
            total: <span th:text="${#lists.size(account.listsQtt)}"></span>
            <div class="button">
                Change password
            </div>
        </div>
    </main>
</body>
</html>