<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
</head>
<body>
    <h2>Listas:</h2>
    <ul>
        <li th:each="list:${tasklists}" >
            <a th:href="@{/lists/{id}(id=${list.id})}">
                <p th:text="${list.title}"></p> 
            </a>
            <a th:href="@{lists/delete/{id}(id=${list.id})}"> delete</a>
            <a th:href="@{lists/edit/{id}(id=${list.id})}">edit</a>
        </li>
        <li>
            <a th:href="@{'/lists/new'}">Add new</a>
        </li>
    </ul>
</body>
</html>