<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged out - todo++</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="h-[100vh] dark:bg-floor-dark dark:text-speech-dark flex justify-center items-center">
    <main class="text-xl">
        You logged out successfully.
        <a th:href="@{/}" class="home-button mt-3 mx-auto">Home</a>
    </main>
</body>
</html>