<div th:fragment="task_create">
    <div id="new-task-button" class="group/new-task-button flex items-center cursor-pointer mt-1" onclick="toggleById('new-task-form'); toggleDisplayById('new-task-button')">
        <!--/*<img th:src="@{/icons/add.svg}" alt="">*/-->
        <svg class="fill-handle-dark h-8 pr-1 group-hover/new-task-button:fill-handle-dark-hover" fill="#eDeDed" viewBox="0 -960 960 960"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
        <div class="text-handle-dark text-xl group-hover/new-task-button:text-handle-dark-hover transition">New task</div>
    </div>
    
    <div hidden id="new-task-form">
        <form th:action="@{/task/create/{id}(id=${tasklist.id})}" method="post" class="flex items-center justify-between">
            <div class="flex items-center">
                <svg class="h-8 block pr-1 fill-handle-dark " fill="#eDeDed" viewBox="0 -960 960 960"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z"/></svg>
                <input type="text" name="title" id="" maxlength="30" placeholder="Title" class="block bg-transparent outline-none w-56  placeholder:text-xl text-xl focus:border-b-2 focus:border-handle-dark placeholder-handle-dark-hover">
            </div>
            <div class="flex items-center">
                <input type="submit" value="Enter to add" class="block text-handle-dark cursor-pointer hover:text-handle-dark-hover ">
                <div onclick="toggleDisplayById('new-task-button'); toggleById('new-task-form')" class="cursor-pointer text-handle-dark hover:text-handle-dark-hover">
                    <p>&nbsp&#8209&nbspClose</p>
                </div>
            </div>
        </form>
        
    </div>
</div>